@use "colors.scss";

$border-radius-img: 16px;
$border-radius-btn: 8px;

@mixin border-radius($radius) {
    border-radius: $radius;
}


@mixin button-style($bg-color, $hover-color) {
    background-color: $bg-color;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    border-radius: $border-radius-btn;
    margin-top: 8px;
    text-decoration: none;

    &:hover {
        background-color: $hover-color;
    }
}